@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

.questions{
    background-color: aquamarine;
}

.q{
    color: red;
    list-style-type: numbers;
}

.answers{
    background-color: lightgray;
}

.a{
    color: green;
}